.title {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 1rem;
}

.start-view, .during-game, .game-over {
  text-align: center;
  margin-top: 2rem;
}

button {
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
}

.word-display {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.time-left, .current-score {
  font-size: 1.2rem;
}


