.title {
    text-align: center;
    font-size: 4rem;
    margin-bottom: 1rem;

    @media(min-width: 560px){
        font-size: 5rem;
    }
    @media(min-width: 375px){
        font-size: 7rem;
    }
}

.start-view, .during-game, .game-over {
  text-align: center;
  margin-top: 2rem;

    @media(min-width: 560px){
        margin-top: 5rem;
        font-size: 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.start-button {
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 3rem;
  background-color: rgb(0, 185, 0);
  border: none;
  color:rgb(255, 255, 255);
  border-radius: 10px;
  width: 30rem;
  height: 15rem;
  cursor: pointer;
  @media(min-width:375px){
        font-size: 4.5rem;
        padding: 1rem 2rem;
        margin-top: 14rem;
  }
}
.gameBtns{
    display: flex;
    justify-self: center;
}
.correctBtn{
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    background-color: rgb(0, 185, 0);
    color:white;
    border:none;
    border-radius: 10px;
    cursor: pointer;
    @media(min-width: 375px){
        font-size: 5rem;
        padding: 1rem 2rem;
        margin-top: 2rem;
    }
}
.passBtn{
        margin: 0.5rem;
    padding: 0.5rem 1rem;
    background-color: rgb(161, 6, 6);
    color:white;
    border:solid 3px black;
    border-radius: 10px;
    cursor: pointer;
    @media(min-width: 375px){
        font-size: 5rem;
        padding: 1rem 2rem;
        margin-top: 2rem;
    }
}
.word-display {
    display: flex;
    justify-content: center;
  font-size: 2rem;
  margin-bottom: 1rem;
  border: dashed 10px black;
  padding: 5rem;
  @media(min-width: 375px){
        font-size: 6em;
    }
  }
.time-left, .current-score {
    display: flex;
    justify-content: center;
  font-size: 1.2rem;
  @media(min-width: 375px){
        font-size: 3rem;
    }
  }

.duration-select{
    @media(min-width: 375px){
        font-size: 2rem;
        margin-top:2rem;
        margin-bottom:2rem;
        padding: 1rem;
    }
}
.game-over-buttons{
        display: flex;
    justify-self: center;
    gap: 2rem;
}
.againBtn{
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    background-color: rgb(0, 185, 0);
    color:rgb(255, 255, 255);
    border:solid 3px rgb(255, 255, 255);
    border-radius: 10px;
    cursor: pointer;
    @media(min-width: 375px){
        font-size: 5rem;
        padding: 1rem 2rem;
        margin-top: 2rem;
    }
}
.backBtn{
        margin: 0.5rem;
    padding: 0.5rem 1rem;
    background-color: rgb(161, 6, 6);
    color:rgb(255, 255, 255);
    border:dashed 5px rgb(0, 0, 0);
    border-radius: 10px;
    cursor: pointer;
    @media(min-width: 375px){
        font-size: 5rem;
        padding: 1rem 2rem;
        margin-top: 2rem;
    }
}
.hint-label{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    font-size: 1.5rem;
    font-style: italic;
    @media(min-width: 375px){
        font-size: 4rem;
    }
}
.hint-text{
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    margin-top: 1rem;
    border: solid 3px black;
    padding: 2rem;
    @media(min-width: 375px){
        font-size: 2.5rem;
    }
}
.hintBtn{
    display: flex;
    justify-self: center;
    margin: 4rem;
    padding: 0.5rem 1rem;
    background-color: rgb(0, 123, 255);
    color:rgb(255, 255, 255);
    border:none;
    border-radius: 10px;
    cursor: pointer;
    @media(min-width: 375px){
        font-size: 3rem;
        padding: 1rem 2rem;
        margin-top: 2rem;
    }
}